# Keil MDK 编译生成文件
*.axf
*.hex
*.bin
*.elf
*.o
*.d
*.crf
*.htm
*.lst
*.lnp
*.bak
*.dep
*.mpf
*.mpj
*.obj
*.omf
*.opt
*.plg
*.sct
*.uvopt
*.uvproj
*.uvgui*

# 编译输出目录
Output/
Listing/
Build/

# 临时文件
*.tmp
*.temp
.DS_Store
Thumbs.db
